html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
    padding-top: 1.1rem;
    max-width: 800px;
    padding-bottom: 3rem;
}

.recipe-image {
    width: 100%;
    max-height: 540px;
    object-fit: cover;
}

.recipe-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 160px;
    overflow: hidden;
}

.recipe-card-image > img {
    height: 160px;
    object-fit: cover;
}

.recipe-card-body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.content-section {
    margin-bottom: 2em;
}

.ingredients-list {
    margin-bottom: 10px;
    max-width: 550px;
}

.page-title {
    flex-grow: 1;
}

.loading-text {
    color: grey;
}

.page-header {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
    align-items: center;
    column-gap: 10px;
}

.recipe-list {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.recipe-card {
    width: 250px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
